.form-container {
    max-width: auto;
}
.form-group select, .form-group input {
    width: auto;
    height: 100% !important;
    box-sizing: border-box;
}
.form-group input[type="submit"] {
    background-color:darkgreen;
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
    margin-left: 30px !important;
}
.form-group input[type="submit"]:hover {
    background-color: #45a049;
}

.custom-submit-btn {
    width: 100px !important;
}

.select2-container--default .select2-selection--single {
    width: 150px !important;
    height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px !important;
    width: 150px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px !important;
    left: 130px !important;
    top: -2px !important;
}

.date-label{
    margin-left: 30px !important;
}

.select2-container--open .select2-dropdown--below {
    width: 150px !important;
}

/* table header area */
.header-area {
    width: 100% !important;
}

/* category index css */
.filter-area-category {
    width: 50% !important;
}
.search-area-category{
    width: 30% !important;
}
.cat-l-status {
    margin-left: 40px !important;
}
.cat-l-orderby{
    margin-left: 75px !important;
}

/* sub category index css */
.subcat-l-status{
    margin-left: 40px !important;
}
.subcat-l-category{
    margin-left: 40px !important;
}
.subcat-l-orderby{
    margin-left: 45px !important;
}

.category-search {
    margin-left: 120px !important;
    width: 75% !important;
}

/* tag index css */
.tag-l-status {
    margin-left: 40px !important;
}
.tag-l-orderby{
    margin-left: 75px !important;
}

/* post index css */
.filter-area-post {
    width: 90% !important;
}

.post-btn-place {
    margin-top: -95px !important;
}

.post-l-category{
    margin-left: 125px !important;
}
.post-l-status{
    margin-left: 125px !important;
}
.post-l-subcategory{
    margin-left: 50px !important;
}
.post-l-tag{
    margin-left: 125px !important;
}

.post-l-approval{
    margin-left: 20px !important;
}

.form-group.d-flex {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.post-l-tag {
    margin-right: 1rem;
}

.tag-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 0.5rem; /* Space between items */
}


.form-check.me-2 {
    margin-right: 0.5rem !important;
}

.form-group input {
    height: 75% !important;
    box-sizing: border-box;
}

.form-check-input {
    width: 15px !important;
    border-radius: 5 !important;
}

.form-check-input:checked {
    background-color: #007bff;
    border-color: #007bff;
}

.form-check-input:hover {
    cursor: pointer;
    border-color: #0056b3;
}

.form-check-input:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

@media (max-width: 576px) {
    .form-group {
        margin-bottom: 0.5rem;
    }

    .form-check {
        margin-right: 0.5rem;
    }
}



