.form-container {
    max-width: auto;
}
.form-group select, .form-group input {
    width: auto;
    height: 100% !important;
    box-sizing: border-box;
}
.form-group input[type="submit"] {
    background-color:darkgreen;
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.form-group input[type="submit"]:hover {
    background-color: #45a049;
}

.custom-submit-btn {
    width: 100px !important;
}

.select2-container--default .select2-selection--single {
    width: 150px !important;
    height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px !important;
    width: 150px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px !important;
    left: 130px !important;
    top: -2px !important;
}

.category-label {
    margin-left: 20px !important;
}

.status-label {
    margin-left: 30px !important;
}

span.select2-results {
    width: 150px !important;
}

.select2-container--open .select2-dropdown--below {
    width: 150px !important;
}
